:root {
    --pale-blue-clr: hsl(225, 100%, 94%);
    --bright-blue-clr:  hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
    --active-state: hsl(252, 76%, 69%);

    --ff-primary: "Red Hat Display", sans-serif;
    --ff-primary: "Red Hat Display", sans-serif;
}
  
*,
*::before,
*::after {
    box-sizing: border-box;
}
 
body,
h1,
h2,
h3,
p {
  margin: 0;
}